<div *ngIf="files; else notShow" class="container">
<mat-grid-list cols="2" rowHeight="50em" gutterSize="3em">
  <div class="mat-card-wrapper" *ngFor="let item of filesContent">
    <mat-grid-tile class="my-mat-grid-tile">
      <mat-card class="my-mat-card">
        <mat-card-header class="my-mat-card-header">
          <mat-card-title>{{ item.filename }}</mat-card-title>
        </mat-card-header>
        <mat-card-content >
          <div class="text-div "> <!--  <span>{{ item.content }}</span> </div>--> 
              <pre class="prettyprint scrollbar-primary linenums lang-bash">{{ item.content }} </pre>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </div>
</mat-grid-list>
</div>
<ng-template #notShow>
  <div class="loading-div">
    <div class="vertical-center">
      <mat-spinner class="custom-spinner"></mat-spinner>  
    </div>
  </div>
</ng-template>
