.container {
  margin-top: 3em;
  width: 100%;
}


textarea {
  border: none;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 1em;
  resize: none; /*remove the resize handle on the bottom right*/
  font-size: 15px;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

// Span needed to convert \n to html line break
span {
  white-space: pre-line;
}


.text-div {
  // Adapt div size to content
  display: block;
  overflow: hidden;
  // Always Display left scroll bar
  //overflow-y: scroll;
  // Set div max height
  height: 50em;
  max-height: 38em;
}

.my-mat-card {
  width: 95%; 
}

mat-card-content {
  margin: 2.5em;
}

.my-mat-card-header {
  margin-left: 1.5em;
  
}

.loading-div { 
  height: 100%;
  position: relative;
  margin: auto;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
