<!-- <input id="file-upload" 
type="file" 
accept=".txt" 
(change)="fileUpload($event)"> -->
<div *ngIf="files; else notShow" class="container">
  <div class="row">
    <div class="col-sm-3">
      <mat-card>
        <mat-nav-list>
            <!-- <mat-list-item (click)="createFile()"> -->
            <mat-list-item (click)="openDialog()">
                NEW FILE
                <mat-icon class="my-mat-icon">create</mat-icon>
              <mat-divider></mat-divider>
            </mat-list-item>
          <mat-list-item (click)="getFile(this.path, f)" *ngFor="let f of files">
            {{ prettify(f) }}
          <mat-divider></mat-divider>
          </mat-list-item>
        </mat-nav-list>
      </mat-card>
    </div>
    <div class="col-sm-9">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ selected }}</mat-card-title>
          <mat-card-subtitle> {{ selected_mtime }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="my-mat-card-content">
          <p [innerHtml]="html">
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button [disabled]="editMode" class="custom-stroked-button" (click)="enableEditMode()" mat-stroked-button>EDIT</button>
          <!--<button class="custom-stroked-button" mat-stroked-button>GIT</button>-->
          <button *ngIf="editMode" (click)="saveFile(this.path + '/' + selected, text)" class="custom-stroked-button" mat-stroked-button>SAVE</button>
        </mat-card-actions>
        <div *ngIf="editMode">
          <div class="text-div" >
            <textarea class="my-textarea" placeholder="Edit markdown file" [(ngModel)]="text" [value]="text"></textarea>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #notShow>
<div class="loading-div">
    <div class="vertical-center">
    <p class="loading">Loading...</p>
    </div>
</div>
</ng-template>
