.container {
  width: 100%;
  margin-top: 3em;
}

a {
  text-decoration: none;
  color: black;
}

a:link {
}

a:visited {
}

a:hover {
  color: grey;
}

a:active {
  color: grey;
} 

.my-mat-card-content {
  margin-left: 1em;
}

.my-mat-icon {
  margin-left: auto;
}

.mat-icons-cont {
  margin-left: auto;
}

.custom-icon-button {
  margin-left: auto;
  font-size: 48px;
}

.loading {
  font-size: 3em;
  text-align: center;
  vertical-align: middle;
}


.loading-div { 
  height: 100%;
  position: relative;
  margin: auto;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

textarea {
  border: none;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 1em;
  resize: none; /*remove the resize handle on the bottom right*/
  font-size: 15px;
}

.text-div {
  // Adapt div size to content
  display: block;
  overflow: hidden;
  // Always Display left scroll bar
  //overflow-y: scroll;
  // Set div max height
  max-height: 38em;
  height: 30em;
}

.nav-mat-card {
  padding: 0px;
}
