<!-- <input id="file-upload" 
type="file" 
accept=".txt" 
(change)="fileUpload($event)"> -->
<div *ngIf="files; else notShow" class="container">
  <div class="row">
    <div class="col-sm-3">
      <mat-card class="nav-mat-card">
        <mat-nav-list>
            <!-- <mat-list-item (click)="createFile()"> -->
            <mat-list-item (click)="openCreateDialog()">
                NEW FILE
                <mat-icon class="my-mat-icon">add</mat-icon>
              <mat-divider></mat-divider>
            </mat-list-item>
          <mat-list-item (click)="getFile(this.path, f)" *ngFor="let f of files">
            {{ prettify(f) }}
          <mat-divider></mat-divider>
          </mat-list-item>
        </mat-nav-list>
      </mat-card>
    </div>
    <div class="col-sm-9">
      <mat-card class="my-mat-card">
        <mat-card-header>
          <mat-card-title>{{ selected }}</mat-card-title>
          <div class="mat-icons-cont">
            <button class="custom-icon-button" [disabled]="editMode" (click)="enableEditMode()" mat-icon-button><mat-icon>edit</mat-icon></button>
            <button *ngIf="editMode" (click)="saveFile(this.path + '/' + selected, text)" class="custom-icon-button" mat-icon-button><mat-icon>save</mat-icon></button>
	          <button class="custom-icon-button" (click)="openDeleteDialog()" mat-icon-button><mat-icon>delete</mat-icon></button>
          </div>
          <mat-card-subtitle> {{ selected_mtime }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="my-mat-card-content">
          <p [innerHtml]="html">
          </p>
        </mat-card-content>
        <div *ngIf="editMode">
          <div class="text-div" >
	    <mat-divider></mat-divider>
            <textarea class="my-textarea" placeholder="Edit markdown file" [(ngModel)]="text" [value]="text"></textarea>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #notShow>
  <div class="loading-div">
    <div class="vertical-center">
      <mat-spinner class="custom-spinner"></mat-spinner>  
    </div>
  </div>
</ng-template>
