.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

a {
  text-decoration: none
}

.container {
  width: 100%;
  margin-top: 3em;
}

a:hover {
  color: grey;
}

a:active {
  color: grey;
}

.loading {
  font-size: 3em;
  text-align: center;
  vertical-align: middle;
}


.loading-div { 
  height: 100%;
  position: relative;
  margin: auto;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

// .div-border {
//   border-style: solid;
//   border-color: blue;
//   border-radius: 5px;
// }